footer.page-footer
	.page-footer__inner
		a(href="index.html").logo
			img(src="" alt="book store")
		span.page-header__timetable с 9:00 до 19:00
		nav.main-nav
			ul.main-nav__list
				li.main-nav__item
					a.main-nav__link Книги
				li.main-nav__item
					a.main-nav__link Рекомендации
				li.main-nav__item
					a.main-nav__link Контакты