header.page-header
	.page-header__inner
		a(href="index.html").logo
			img(src="" alt="book store")
		span.page-header__timetable с 9:00 до 19:00
		nav.main-nav
			button.main-nav__toggle ЖМИ
			ul.main-nav__list
				li.main-nav__item
					a.main-nav__link Книги
				li.main-nav__item
					a.main-nav__link Рекомендации
				li.main-nav__item
					a.main-nav__link Контакты
		a.page-header__cart-wrap
			object(type="image/svg+xml" data="cart.svg" width="40" height="40").page-header__cart
		a.page-header__phone-wrap
			object(type="image/svg+xml" data="phone.svg" width="40" height="40").page-header__phone
