.promo
	.promo__inner
		.slider
			.slider__inner
				article.slider__item
					.slider__item-block.slider-textblock
						p.slider-textblock__descr Новое поступление книги "Симпсоны и их математические секреты"
						h2.slider-textblock__title Для поклонников сериала "Симпсоны" и всех, кому интересна математика
						a(href="#").slider-textblock__showmore Хочу узнать о книге больше
					picture.slider__item-picture
						img(src="" alt="Книга Симпсоны").slider__item-img

