.page-header {
  height: 50px;
  width: 100%;
  background-color: #fff;
  padding-top: 18px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-right: 40px;

    @media (min-width: $screen-md) {
      padding-right: 0;
    }
  }

  &__logo {
    flex-grow: 2;

    @media (min-width: $screen-md) {
      flex-grow: 0;
    }
  }

  &__timetable {
    display: none;
    color: #828282;
    font-size: 0.9rem;

    @media (min-width: $screen-md) {
      display: block;
    }
  }

  &__phone {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }
  }

  &__toggle {
    background-color: transparent;
    border: none;
    width: 20px;
    height: 14px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $screen-md) {
      display: none;
    }
  }
}

.burgerline {
  width: 20px;
  height: 2px;
  background-color: #000;
}

.main-nav {

  &__list {
    display: none;
    width: 280px;
    margin-left: 70px;
    margin-right: 20px;

    @media (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__link {
    color: #000;
    font-weight: 700;
    font-size: 0.9rem;
  }
}