.page-header {
  height: 50px;
  width: 100%;
  background-color: #fff;
  padding-top: 18px;
  position: relative;
  margin-bottom: 35px;

  @media (min-width: $screen-md) {
    margin-bottom: 50px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-right: 40px;

    @media (min-width: $screen-md) {
      padding-right: 0;
    }
  }

  &__timetable {
    display: none;
    color: #828282;
    font-size: 0.9rem;

    @media (min-width: $screen-md) {
      display: block;
    }
  }

  &__cart-wrap {
    @media (min-width: $screen-lg) {
      margin-left: 50px;
    }
  }

  &__cart {

    &:hover {
      fill: $icon-hover;
    }
  }

  &__phone-wrap {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      cursor: pointer;
    }
  }

    &__phone {

      &:hover {
        fill: $icon-hover;
      }
    }

  &__toggle {
    background-color: transparent;
    border: none;
    width: 20px;
    height: 14px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__burgerline {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000;
  }
}
