nav.main-nav
	ul.main-nav__list
		li.main-nav__item
			a(href="index.html").main-nav__link книги
		li.main-nav__item
			a(href="recommendation.html").main-nav__link рекомендации
		li.main-nav__item
			a(href="contacts.html").main-nav__link контакты
		li.main-nav__item
			a(href="tel:+78005008020").main-nav__link 8 800 500-80-20
