article.product-card-mini
	a(href="#").product-card-mini__picture-wrap
		picture.product-card-mini__picture
			source(media="(min-width: 1920px)" srcset="img/books/putevoditel-po-lzhi_2x.png 2x")
			img(src='img/books/putevoditel-po-lzhi.png' alt='book-putevoditel-po-lzhi' width="260" height="370").product-card-mini__img
	a(href="").product-card-mini__title-wrap
		h3.product-card-mini__title Путеводитель по лжи
	p.product-card-mini__descr Критическое мышление в эпоху постправды
