.recommendation {

  &__title {
    margin-bottom: 46px;
    font-size: 1.5rem;

    @media (min-width: $screen-md) {
      text-align: center;
      font-size: 3.13rem;
    }

    @media (min-width: $screen-lg) {
      text-align: left;
    }
  }

  &__block {
    width: 260px;
    margin: 0 auto;
    display: grid;
    grid-gap: 11px;
    margin-bottom: 137px;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: 'article' 'bestbook' 'oldbook' 'collection' 'opinion' 'childrenbook' 'presentbook';

    @media (min-width: 360px) {
      width: 300px;
    }

    @media (min-width: $screen-md) {
      width: 700px;
      grid-template-rows: auto auto auto auto auto auto;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'bestbook bestbook'
                            'opinion childrenbook'
                            'oldbook oldbook'
                            'article presentbook'
                            'collection presentbook'
                            'collection presentbook';
    }

    @media (min-width: $screen-lg) {
      width: 1200px;
      grid-template-rows: 1fr 1fr 1fr 170px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: 'article bestbook bestbook presentbook'
                            'collection bestbook bestbook presentbook'
                            'collection opinion childrenbook presentbook'
                            'oldbook oldbook oldbook presentbook';
    }
  }
}
