.recommendation {

  &__title {
    font-size: 3.13rem;
    margin-bottom: 46px;
    font-size: 1.5rem;

    @media (min-width: $screen-md) {
      text-align: center;
      font-size: 3.13rem;
    }

    @media (min-width: $screen-lg) {
      text-align: left;
    }
  }

  &__block {
    width: 260px;
    margin: 0 auto;
    display: grid;
    grid-gap: 11px;
    margin-bottom: 137px;
    grid-template-rows: 200px 200px 150px 150px 200px 150px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "block1" "block2" "block7" "block4" "block5" "block6" "block3";

    @media (min-width: 360px) {
      width: 300px;
    }

    @media (min-width: $screen-md) {
      width: 700px;
      grid-gap: 11px;
      grid-template-rows: 150px 200px 150px 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "block2 block2"
                            "block5 block6"
                            "block7 block7"
                            "block1 block3"
                            "block4 block3"
                            "block4 block3";
    }

    @media (min-width: $screen-lg) {
      width: 1200px;
      grid-gap: 11px;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "block1 block2 block2 block3"
                            "block4 block2 block2 block3"
                            "block4 block5 block6 block3"
                            "block7 block7 block7 block3";
    }
  }
}


