.text-block1 {
  grid-area: article;
  background-color: #fff;
  padding: 15px 19px 26px 25px;

  &__title {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.88rem;
  }

  &__subtitle {
    margin-bottom: 15px;
    line-height: 1.88rem;
  }

  &__link {
    color: #0f0fc9;
    font-weight: 700;

    &:hover {
      color: #6c73ff;
    }
  }
}
