doctype html
html(lang='ru' class="no-js  page")
  head
    script(src='js/picturefill.min.js')
    script(src='js/svg4everybody.min.js')
    script svg4everybody();
    meta(charset='UTF-8')
    meta(name='description' content='Книжный магазин')
    meta(name='keywords' content='книги, books, чтение')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(property='og:title' content='Books')
    meta(property='og:description' content='Книжный магазин')
    meta(property='og:image' content='../img/favicon/apple-icon-180x180.png')
    meta(name='robots' content='all')
    title Book-store
    block style
      link(rel="stylesheet" type="text/css" href="css/style.css")
      script document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  body
    block header
    block main
    block footer
    block js
      script(src="js/script.js" type="module")
