section.address
	.address__inner.inner
		h1.address__title Контакты
		.address__block
			ul.address__list
				li.address__item Набережная реки Фонтанки, 202
				li.address__item с 9:00 до 19:00 ежедневно
				li.address__item +7 (911) 123 45 67
		iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.593648502349!2d30.31331721740574!3d59.93888470724551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696311064b4ac29%3A0xc1f4a1bc8e98bd91!2z0JTQstC-0YDRhtC-0LLQsNGPINC_0LsuLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsw!5e0!3m2!1sru!2sru!4v1543520154738" style="border:0" allowfullscreen).address__map
