.address {
    margin-bottom: 40px;

    &__inner {
      @media (min-width: $screen-md) {
        width: calc(100% - 88px);
      }
    }

  &__title {
    font-size: 3.13rem;
    margin-bottom: 46px;

    @media (min-width: $screen-md) {
      margin-bottom: 56px;
    }
  }

  &__list {
    padding-left: 22px;

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 46px;
    }
  }

  &__item {
    font-weight: 500;
    position: relative;
    margin-bottom: 25px;

    &:before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #020efb;
      top: 0;
      bottom: 0;
      left: -20px;
      margin: auto;
    }

    @media (min-width: $screen-md) {
      width: 50%;
    }

    @media (min-width: $screen-lg) {
      width: 30%;
    }
  }

  &__map {
    height: 340px;
    padding-left: -30px;

    @media (min-width: $screen-lg) {
      width: 1160px;
    }
  }
}