.catalog {


  &__inner {

    @media (min-width: $screen-sm) {
      width: calc(100% - 180px);
    }
  }

  &__tabs {
    height: 50px;
    width: calc(100% + 60px);
    margin-left: -30px;
    display: flex;
    justify-content: space-between;
    background-color: $border-color;
    padding-top: 28px;
    padding-left: 32px;
    margin-bottom: 41px;
    padding-left: -200px;

    @media (min-width: $screen-sm) {
      width: calc(100% + 180px);
      margin-left: -90px;
      padding-left: 90px;
      padding-right: 90px;
    }

    @media (min-width: $screen-md) {
      padding-left: 90px;
      padding-right: 90px;
    }

    @media (min-width: $screen-lg) {
      padding-right: 200px;
      margin-right: -300px;
    }
  }

  &__tabs-item {

    @media (min-width: $screen-lg) {
      margin-right: 31px;
    }

    &:first-child .catalog__tabs-link {
      color: #1a1ff7;
    }
  }

  &__tabs-link {
    font-weight: 500;
    color: #000;
    position: relative;

    &:hover {
      color: #1a1ff7;
      padding-bottom: 10px;
      border-bottom: 2px solid #ef529f;
    }
  }

  &__block {
    margin: 0 auto;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-left: 0;
    }
  }
}

@import 'product-card-mini.scss';
@import 'pagination.scss';