mixin tab-link(name)
	li.catalog__tabs-item
		a(href="#").catalog__tabs-link #{name}

section.catalog
	.catalog__inner.inner
		ul.catalog__tabs.owl-carousel.owl-theme
			+tab-link('Все')
			+tab-link('Маркетинг')
			+tab-link('Научпоп')
			+tab-link('Бизнес')
			+tab-link('Творчество')
			+tab-link('Психология')
		.catalog__block
		include pagination.pug