mixin tab-link(name, data)
	li.catalog__tabs-item
		a(href="#" data-type= data).catalog__tabs-link #{name}

section.catalog
	.catalog__inner.inner
		ul.catalog__tabs.owl-carousel.owl-theme
			+tab-link('Все', 'all')
			+tab-link('Маркетинг', 'marketing')
			+tab-link('Научпоп', 'science')
			+tab-link('Бизнес', 'business')
			+tab-link('Творчество', 'creativity')
		.catalog__block
		include pagination.pug