.catalog {
  margin-bottom: 63px;

  @media (min-width: $screen-md) {
    margin-bottom: 80px;
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 150px;
  }

  &__inner {

    @media (min-width: $screen-sm) {
      width: calc(100% - 180px);
    }

    @media (min-width: $screen-lg) {
      width: calc(100% - 120px);
    }
  }

  &__wrap {
    height: 50px;
    width: calc(100% + 60px);
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 7px;
    margin-left: -30px;
    margin-bottom: 50px;
    padding-left: 30px;
    background-color: $border-color;


    @media (min-width: $screen-sm) {
      width: calc(100% + 180px);
      margin-left: -90px;
      padding-left: 90px;
    }

    @media (min-width: $screen-md) {
      width: calc(100% + 250px);
      margin-left: -160px;
      padding-left: 160px;
    }
  }

  &__tabs {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    height: 50px;

    @media (min-width: $screen-sm) {
      overflow-x: visible;
    }

    @media (min-width: $screen-md) {
      width: 550px;
    }
  }

  &__tabs-item {
    margin-right: 31px;

    &:first-child .catalog__tabs-link {
      color: #1a1ff7;
      padding-bottom: 10px;
      border-bottom: 2px solid #ef529f;
    }

    &:last-child {
      padding-right: 32px;
    }
  }

  &__tabs-link {
    font-weight: 500;
    color: #000;
    position: relative;

    &:hover {
      color: #1a1ff7;
      padding-bottom: 10px;
      border-bottom: 2px solid #ef529f;
    }

    &--active {
      color: #1a1ff7;
    }
  }

  &__block {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
  }
}
