.pagination {
  margin-bottom: 63px;
  
  &__list {
    display: flex;
    padding-left: 41px;
    align-items: center;
    justify-content: space-between;
    width: 220px;
  }

  &__item {
    margin-right: 7px;
  }

  &__item:hover {
    background-color: $btn-bg-color;
  }

  &__link {
    display: block;
    font-weight: 700;
    color: #000;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
  }
}