mixin page-link(num)
	li.pagination__item
		a(href="#").pagination__link #{num}

.catalog__pagination.pagination
		ul.pagination__list
			+page-link('1')
			+page-link('2')
			+page-link('3')
			+page-link('4')
			+page-link('...')
			+page-link('10')
