.pagination {
  margin-bottom: 63px;

  &__list {
    display: flex;
    padding-left: 41px;
    align-items: center;
    justify-content: space-between;
    width: 260px;
  }

  &__item {
    margin-right: 7px;
    width: 30px;
    height: 30px;

    &:first-child {
      background-color: #f4d4e4;
      border-radius: 50%;

      & .pagination__link {
        color: #ef529f;
      }
    }

    &:hover {
      background-color: #f4d4e4;
      border-radius: 50%;
    }
  }

  &__link {
    display: block;
    width: 30px;
    height: 30px;
    font-weight: 700;
    color: #000;
    text-align: center;
    line-height: 30px;

    &:visited {
      color: #afafaf;
    }
  }
}
