.product-card-mini {
  margin: 0 auto;
  width: 210px;
  margin-bottom: 50px;
  position: relative;

  @media (min-width: $screen-md) {
    width: 260px;
    margin-right: 45px;
    margin-left: 45px;
  }

  @media (min-width: $screen-lg) {
    width: 260px;
    margin-right: 10px;
    margin-left: 10px;
  }

  &__picture-wrap {
    display: block;
    width: 210px;
    height: 300px;
    margin-bottom: 33px;

    @media (min-width: $screen-md) {
      width: 260px;
      height: 365px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &:hover .product-card-mini__price {
    color: $icon-hover;
  }

  &:hover .product-card-mini__picture-wrap {
    box-shadow: 0 12px 33px 5px #f4d4e4;
  }

  &__title-wrap {
    display: block;
    margin-bottom: 28px;
  }

  &__title {
    font-weight: 700;
    color: #000;
    line-height: 30px;
    font-size: 1.5rem;
  }

  &__descr {
    margin-bottom: 37px;
    font-style: italic;
    line-height: 24px;
  }

  &__price {
    display: block;
    font-weight: 700;
    position: absolute;
    bottom: 0;
  }
}
