section.description
	.description__inner.inner
		.description__name
			p.description__name-author Эдди Юн
			h2.description__name-title Супер&shy;потребители
			p.description__name-descr Кто это и почему они так важны для вашего бизнеса
		.description__front
			picture.description__front-picture
				source(media="(min-width: 1920px)" srcset="img/books/superpotrebiteli_2x.png 2x")
				img(src="img/books/superpotrebiteli.png" alt="книга суперпотребители").description__front-img
		.description__characters
			.description__characters-name-block
				span.description__characters-name Артикул
				span.description__characters-name В наличии
				span.description__characters-name Издательство
				span.description__characters-name Цена
			.description__characters-value-block
				span.description__characters-value 10907063
				span.description__characters-value 5 шт.
				span.description__characters-value Мосгорсвет
				span.description__characters-value 800 &#8381;
		.description__button
			input(type="text").description__button-box
			button.description__button-btn Добавить в корзину
			p.description__button-text <span>20</span> людям понравилась эта книга
		.description__about
			h3.description__about-title Короткое описание
			p.description__about-descr  В отличие от обычных покупателей суперпотребители очень заинтересованы в ваших товарах, а возможно, даже слегка помешаны на них.
			p.description__about-descr Они знают о кроссовках всё и имеют десятки пар. Они спортивные фанаты c копиями футболок любимой команды, а стены их гаражей украшены подписанной символикой.
		.description__socials
			.description__socials-item
				svg(width="20" height="20").description__socials-icon
					use(xlink:href="img/sprite.svg#icon_facebook")
				span.description__socials-facebook 20
			.description__socials-item
				svg(width="20" height="20").description__socials-icon
					use(xlink:href="img/sprite.svg#icon_vkontakte")
				span.description__socials-vkontakte 30
			.description__socials-item
				svg(width="20" height="20").description__socials-icon
					use(xlink:href="img/sprite.svg#icon_like")
				span.description__socials-like 50
			.description__socials-item
				svg(width="20" height="20").description__socials-icon
					use(xlink:href="img/sprite.svg#icon_like")
				span.description__socials-dislike 10
		.description__pages
			picture.description__pages-picture
				img(src="img/book_screen1.jpg" alt="Страница 1" width="120" height="139").description__pages-img
			picture.description__pages-picture
				img(src="img/book_screen2.jpg" alt="Страница 2" width="120" height="139").description__pages-img
			picture.description__pages-picture
				img(src="img/book_screen3.jpg" alt="Страница 3" width="120" height="139").description__pages-img

