.description-page
	.description-page__slider
		picture.description-page__current
			img(src="img/book_screen_hq.png" alt="Страница книги" width="332" height="440").description-page__img
		picture.description-page__current
			img(src="img/book_screen_hq.png" alt="Страница книги" width="332" height="440").description-page__img
		picture.description-page__current
			img(src="img/book_screen_hq.png" alt="Страница книги" width="332" height="440").description-page__img
	button.description-page__close &#10006;



