.description-page {
  display: none;
  width: 600px;
  height: 460px;
  border-radius: 4px;
  background-color: #130f23;
  padding-top: 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1000;

  @media (min-width: $screen-lg) {
    width: 760px;
  }

  & .owl-carousel {
    width: 332px;
  }

  &__slider {
    margin: 0 auto;
    width: 332px;
    height: 440px;
  }

  &__current {
    width: 332px;
    height: 440px;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__close {
    position: absolute;
    width: 12px;
    height: 12px;
    right: -20px;
    top: -10px;
    border: none;
    background-color: transparent;
    font-weight: 700;
    cursor: pointer;
  }
}

.owl-nav {

  & .owl-next {
    position: absolute;

    top: 0;
    bottom: 0;
    outline: none;

    @media (min-width: $screen-md) {
      right: -100px;
    }

    @media (min-width: $screen-lg) {
      right: -150px;
    }
  }

  & .owl-prev {
    position: absolute;

    top: 0;
    bottom: 0;

    @media (min-width: $screen-md) {
      left: -100px;
    }

    @media (min-width: $screen-lg) {
      left: -150px;
    }
  }
}
