.description {

  &__inner {
    display: grid;
    margin: 0 auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "name" "front" "characters" "button" "about" "socials";

    @media (min-width: $screen-md) {
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "front" "name"
                            "front" "characters"
                            "button" "button"
                            "about" "about"
                            "socials" "socials";
    }
  }

  &__name {
    grid-area: name;
  }

  &__name-author {
    font-size: 0.88rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__name-title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__name-descr {
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 35px;
  }

  &__front {
    grid-area: front;
  }

  &__front-picture {
    width: 300px;
    height: 425px;
  }

  &__front-img {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  &__characters {
    grid-area: characters;
    display: flex;
    margin-bottom: 32px;
  }

  &__characters-name-block {
    width: 160px;
    display: flex;
    flex-direction: column;
  }

  &__characters-value-block {
    display: flex;
    flex-direction: column;
  }

  &__characters-name {
    font-size: 0.88rem;
    color: #ababab;
    font-weight: 500;
    margin-bottom: 27px;
  }

  &__characters-value {
    font-size: 0.88rem;
    font-weight: 500;
    margin-bottom: 27px;

    &:last-child {
      font-weight: 700;
      font-size: 1rem;
    }
  }

  &__button {
    grid-area: button;
  }

  &__button-box {
    width: 80px;
    height: 50px;
    background-color: #ddd;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    border-radius: 2px;
    border: none;
    position: relative;
    margin-bottom: 20px;

    &:after {
      content: 'шт.';
      position: absolute;
      width: 25px;
      height: 9px;
      right: -40px;
      top: 0;
      bottom: 0;
      font-weight: 500;
    }

    &:hover {
      background-color: #ececec;
    }
  }

  &__button-btn {
    width: 260px;
    height: 50px;
    background-color: $btn-color;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.5s;

    &:hover {
      background-color: $btn-color-hover;
    }

    &:visited {
      background-color: $btn-color-visited;
    }
  }

  &__button-text {
    font-size: 0.88rem;
    font-style: italic;
    padding-left: 27px;
    position: relative;
    margin-bottom: 40px;

    &:before {
      content: '';
      background-image: url(../img/icon_heart.svg);
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      width: 16px;
      height: 13px;
      left: 0;
      top: 0;
    }
  }

  &__about {
    grid-area: about;
  }

  &__about-title {
    font-size: 1.5rem;
    margin-bottom: 22px;
  }

  &__about-descr {
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 35px;
  }

  &__socials {
    grid-area: socials;
    width: 280px;
    margin-bottom: 108px;
    display: flex;
    justify-content: space-between;
  }

  &__socials-item {
    display: flex;
    align-items: center;
  }

  &__socials-item:last-child .description__socials-icon {
    transform: scale(1, -1);
  }

  &__socials-icon {
    margin-right: 10px;
  }

  // &__pages {
  //   grid-area: pages;
  //     // display: block;

  // }










}
