.description {

  &__inner {
    display: grid;
    margin: 0 auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "name" "front" "characters" "button" "about" "socials";

    @media (min-width: $screen-md) {
      margin-bottom: 97px;
      grid-template-rows: auto auto auto auto auto;
      grid-template-columns: 260px 1fr;
      grid-gap: 22px;
      grid-template-areas: "front name"
                            "front characters"
                            "pages button"
                            "about about"
                            "socials socials";
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 97px;
      grid-template-rows: auto auto auto auto auto;
      grid-template-columns: 160px 320px 1fr;
      grid-gap: 22px;
      grid-template-areas: "pages front name"
                            "pages front characters"
                            "pages front button"
                            ". about about"
                            ". socials socials";
    }
  }

  &__name {
    grid-area: name;

    @media (min-width: $screen-md) {
      padding-left: 18px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 32px;
    }
  }

  &__name-author {
    font-size: 0.88rem;
    font-weight: 700;
    margin-bottom: 20px;

    @media (min-width: $screen-lg) {
      margin-bottom: 8px;
    }
  }

  &__name-title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 2.25rem;
  }

  &__name-descr {
    font-weight: 500;
    margin-bottom: 35px;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__front {
    grid-area: front;

    @media (min-width: $screen-md) {
      width: 260px;
      height: 367px;
    }

    @media (min-width: $screen-lg) {
      width: 320px;
      height: 454px;
    }
  }

  &__front-picture {

    @media (min-width: $screen-md) {
      width: 320px;
      height: 454px;
    }
  }

  &__front-img {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  &__characters {
    grid-area: characters;
    display: flex;
    margin-bottom: 32px;

    @media (min-width: $screen-md) {
      padding-left: 18px;
      margin-top: 33px;
      margin-bottom: 0;
    }

    @media (min-width: $screen-lg) {
      padding-left: 32px;
    }
  }

  &__characters-name-block {
    width: 160px;
    display: flex;
    flex-direction: column;
  }

  &__characters-value-block {
    display: flex;
    flex-direction: column;
  }

  &__characters-name {
    font-size: 0.88rem;
    color: #ababab;
    font-weight: 500;
    margin-bottom: 27px;
  }

  &__characters-value {
    font-size: 0.88rem;
    font-weight: 500;
    margin-bottom: 27px;

    &:last-child {
      font-weight: 700;
      font-size: 1rem;
    }
  }

  &__button {
    grid-area: button;
    margin-bottom: 40px;

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      width: 390px;
      padding-left: 18px;
      margin-bottom: 0;
    }

    @media (min-width: $screen-lg) {
      padding-left: 32px;
      width: 405px;
    }
  }

  &__button-box {
    width: 80px;
    height: 50px;
    background-color: #ddd;
    text-align: center;
    line-height: 3.13rem;
    font-weight: 500;
    border-radius: 2px;
    border: none;
    position: relative;
    margin-bottom: 20px;
    margin-right: 14px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;

    &:hover {
      background-color: #ececec;
    }

    &:focus {
      border: 2px solid #c6c6c6;
    }
  }

  &__button-span {
    font-weight: 500;
    color: #3c3c3c;
    line-height: 3.13rem;
  }

  &__button-btn {
    width: 260px;
    height: 50px;
    background-color: $btn-color;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.5s;

    &:hover {
      background-color: $btn-color-hover;
    }

    &:visited {
      background-color: $btn-color-visited;
    }

    @media (min-width: $screen-md) {
      width: 200px;
      order: -1;
      margin-left: 0;
      margin-right: 42px;
    }
  }

  &__button-text {
    font-size: 0.88rem;
    font-style: italic;
    padding-left: 27px;
    position: relative;
    margin-bottom: 40px;

    &:before {
      content: '';
      background-image: url(../img/icon_heart.svg);
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      width: 16px;
      height: 13px;
      left: 0;
      top: 0;
    }
  }

  &__about {
    grid-area: about;
    margin-bottom: 50px;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      margin-top: 41px;
    }
  }

  &__about-title {
    font-size: 1.5rem;
    margin-bottom: 22px;
  }

  &__about-descr {
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 35px;
  }

  &__about-btn {
    border: none;
    background-color: transparent;
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    font-family: $font-family;
    color: $link-color;

    &:hover {
      color: $link-color-hover;
    }

    &:after {
      content: '';
      position: absolute;
      width: 13px;
      height: 8px;
      background-image: url(../img/showmore_arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      top: 0;
      bottom: 0;
      margin: auto;
      right: -20px;
    }
  }

  &__socials {
    grid-area: socials;
    width: 280px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $screen-md) {
      margin-top: 31px;
    }
  }

  &__socials-item {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  &__socials-item:last-child .description__socials-icon {
    transform: scale(1, -1);
  }

  &__socials-icon {
    margin-right: 7px;

    &:hover {
      fill: $icon-hover;
    }

    &:visited {
      fill: $icon-visited;
    }
  }

  &__socials-number {
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    font-family: $font-family;
  }

  &__pages {
    grid-area: pages;
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      width: 262px;
      height: 120px;
      border: 4px solid #e8e8e8;
      padding: 17px 7px 14px 7px;
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: $screen-lg) {
      width: 160px;
      height: 480px;
      padding: 16px 16px 14px 16px;
      flex-direction: column;
    }
  }

  &__pages-picture {
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: #dcdcdc;
      opacity: 0.7;

      &:before {
        content: '';
        background-image: url(../img/icon_plus.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }

    @media (min-width: $screen-md) {
      width: 77px;
      height: 90px;
    }

    @media (min-width: $screen-lg) {
      width: 120px;
      height: 139px;
    }
  }

  &__pages-img {
    width: 100%;
    height: auto;
  }


}
