.description-page
	.description-page__slider.owl-carousel.owl-theme
		picture.description-page__current
			source(media="(min-width: 1650px)" type="image/webp" srcset="img/book_screen1.webp")
			img(src="img/book_screen.png" alt="Страница книги" width="332" height="440").description-page__img
		picture.description-page__current
			source(media="(min-width: 1650px)" type="image/webp" srcset="img/book_screen2.webp")
			img(src="img/book_screen.png" alt="Страница книги" width="332" height="440").description-page__img
		picture.description-page__current
			source(media="(min-width: 1650px)" type="image/webp" srcset="img/book_screen3.webp")
			img(src="img/book_screen.png" alt="Страница книги" width="332" height="440").description-page__img
	button.description-page__close &#10006;



