section.recommendation
	.recommendation__inner.inner
		h1.recommendation__title Наши рекомендации
		.recommendation__block
			include text-block1.pug
			include text-block2.pug
			include text-block3.pug
			include text-block4.pug
			include text-block5.pug
			include text-block6.pug
			include text-block7.pug
