section.recommendation
	.recommendation__inner.inner
		h2.recommendation__title Наши рекомендации
		.recommendation-block
			.text-block1
				h3.text-block1__title Новая статья в блоге
				p.text-block1__text Посмотрите, как чтение книг меняет восприятие человека
				a(href="#").text-block1__link Читать статью
			a(href="#").text-block2
				h3.text-block2__title Книга осени!
				p.text-block2__subtitle Проголосуй за лучшую книгу осени
			.text-block3
				h3.text-block3__title Книга в подарок!
				p.text-block3__subtitle При вашем новом заказе мы подарим вам книгу
				article.product-card-mini
					a(href="#").product-card-mini__picture-wrap
						picture.product-card-mini__picture
							img(
								src='img/book-putevoditel-po-lzhi.jpg'
								alt='book-putevoditel-po-lzhi'
								width="260"
								height="370").product-card-mini__img
					a(href="").product-card-mini__title-wrap
						h3.product-card-mini__title Путеводитель по лжи
						p.product-card-mini__descr Критическое мышление в эпоху постправды
			a(href="#").text-block4
				h3.text-block4__title Наши подборки ваших лучших фотографий у нас
			.text-block5
				h3.text-block5__title Нам важно ваше мнение!
				p.text-block5__subtitle Ставьте пальцы вверх, мыхотим знать ваше мнение
				button.text-block5__btn Проголосовать
			a(href="#").text-block6
				h3.text-block6__title Книги для детей
				p.text-block6__subtitle У нас появился новый раздел, в котором мы подбираем книги для юных читателей
			a(href="#").text-block7
				h3.text-block7__title У вас есть старые книги?
				p.text-block7__subtitle Приносите их нам и обменяйте на новые

