.text-block6 {
  grid-area: block6;
  background-color: #ce6194;
  padding: 15px;

  &__title {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 400;
  }

  &__subtitle {
    color: #fff;
    line-height: 1.88rem;
  }
}
