.novice {
  position: relative;

  &:before {
    content: '';
    width: 100%;
    min-height: 490px;
    position: absolute;
    background-color: $bottom-color;
    z-index: -10;
    left: 0;
    right: 0;
    margin: auto;
    top: 240px;

    @media (min-width: $screen-md) {
      display: inline-block;
    }
  }

  &__title {
    font-size: 1.9rem;

    @media (min-width: $screen-md) {
      display: inline-block;
    }
  }

  &__link {
    display: block;
    margin-bottom: 40px;
    font-weight: 500;
    color: $link-color;

    @media (min-width: $screen-md) {
      float: right;
      display: inline-block;
    }
  }

  &__block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 40px;

    & .product-card-mini .product-card-mini__price {
      display: none;
    }
  }
}