mixin product-card-mini(name, alt, title, price)
  article.product-card-mini
    a(href="inner.html").product-card-mini__picture-wrap
      picture.product-card-mini__picture
        img(src=`img/${name}.jpg` alt= alt width="260" height="370").product-card-mini__img
    a(href="description.html").product-card-mini__title-wrap
      h3.product-card-mini__title #{title}
    block
    span.product-card-mini__price #{price} &#8381;

section.novice
  .novice__inner.inner
    h2.novice__title Наши новинки
    a(href="#").novice__link Все новинки
    .novice__block.owl-carousel.owl-theme
      +product-card-mini('lateralnaya-logika', 'lateralnaya-logika', 'Латеральная логика', '500')
        p.product-card-mini__text Головоломный путь к нестандартному мышлению
      +product-card-mini('putevoditel-po-lzhi', 'putevoditel-po-lzhi', 'Путеводитель по лжи', '630')
        p.product-card-mini__text Критическое мышление в эпоху постправды
      +product-card-mini('dao-fiziki', 'dao-fiziki', 'Дао физики', '560')
        p.product-card-mini__text Исследование параллелей между современной физикой и восточной философией
      +product-card-mini('ne-ochevidno', 'ne-ochevidno', 'Не очевидно', '365')
        p.product-card-mini__text Как выявлять тренды раньше других
