.novice {
  position: relative;
  padding-bottom: 50px;

  &:before {
    content: '';
    width: 100%;
    min-height: 560px;
    position: absolute;
    background-color: $bottom-color;
    z-index: -10;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -42px;

    @media (min-width: $screen-md) {
      display: inline-block;
    }
  }

  &__title {
    font-size: 1.9rem;

    @media (min-width: $screen-md) {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__link {
    display: block;
    font-weight: 500;
    color: $link-color;

    @media (min-width: $screen-md) {
      float: right;
      display: inline-block;
      vertical-align: middle;
    }

    &:hover {
      color: #6c73ff;
    }

    &:visited {
      color: #1316b0;
    }
  }

  &__block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 40px;

    & .product-card-mini {
      width: 260px;
      margin-right: 30px;
    }

    & .product-card-mini .product-card-mini__picture-wrap {
      width: 260px;
      height: 370px;
    }

    & .product-card-mini .product-card-mini__price {
      display: none;
    }
  }
}