section.invitation
	.invitation__inner
		svg(width="100" height="20").invitation__icon
			use(xlink:href="img/sprite.svg#icon_wave")
		h2.invitation__title Мы открыли для вас уютную библиотеку
		p.invitation__subtitle Приходите к нам по адресу Никитинская 10, каждый день с 12:00 до 18:00
