.invitation {
  padding-top: 70px;
  padding-bottom: 50px;
  text-align: center;
  background-image: url(../img/invitation_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @media (min-width: $screen-md) {
    padding-bottom: 75px;
  }

  @media (min-width: $screen-lg) {
    padding-bottom: 115px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #d7569c;
    opacity: 0.8;
  }

  &__inner {
    width: calc(100% - 82px);
    margin: 0 auto;
  }

  &__icon {
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    margin-bottom: 26px;
    position: relative;

    @media (min-width: $screen-md) {
        font-size: 2.25rem;
      }
  }

  &__subtitle {
    color: #fff;
    line-height: 30px;
    position: relative;
  }
}
