extends templates/base-template.pug

block append style
	link(rel="shortcut icon" href="img/icons/favicon/favicon.ico" type='image/x-icon')
	link(rel="apple-touch-icon" sizes="180x180" href="img/icons/favicon/apple-icon-180x180.png")
	link(rel="icon" type="image/png" sizes="192x192" href="img/icons/favicon/android-icon-192x192.png")
	link(rel="icon" type="image/png" sizes="32x32" href="img/icons/favicon/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="16x16" href="img/icons/favicon/favicon-16x16.png")
	link(rel="manifest" href="img/icons/favicon/manifest.json")

block header
	include ../blocks/main-page/header/header.pug

block main
	main
		include ../blocks/main-page/promo/promo.pug
		include ../blocks/main-page/catalog/catalog.pug
		include ../blocks/main-page/offer/offer.pug
		include ../blocks/main-page/novice/novice.pug

block footer
	include ../blocks/main-page/footer/footer.pug

block prepend js
	script(src="js/jquery.min.js")
	script(src="js/owl.carousel.min.js")