.promo {

  &__inner {
    margin: 0 auto;
    width: calc(100% - 22px);

    @media (min-width: $screen-md) {
      width: calc(100% - 280px);
    }
  }
}

.slider {
  margin-bottom: 110px;

    & .owl-nav {
      & .owl-next {
        position: absolute;
        right: 100px;
        bottom: -80px;

        @media (min-width: $screen-md) {
          bottom: 0;
          top: 0;
          margin: auto;
          right: -100px;
        }

        @media (min-width: $screen-lg) {
          right: -50px;
        }
      }

    & .owl-prev {
      position: absolute;
      left: 100px;
      bottom: -80px;

      @media (min-width: $screen-md) {
        bottom: 0;
        top: 0;
        margin: auto;
        left: -100px;
      }

      @media (min-width: $screen-lg) {
        left: -50px;
      }
    }
  }

  @media (min-width: $screen-md) {
    margin-bottom: 55px;
  }
}

.slider-textblock {

  &__descr {
    font-size: 0.9rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    padding-left: 20px;
    position: absolute;
    left: -20px;
    top: -70px;

    @media (min-width: $screen-md) {
      width: 320px;
      padding-left: 0;
      left: -5px;
    }

    @media (min-width: $screen-lg) {
      width: 320px;
      padding-left: 0;
      left: 20px;
    }
  }

  &__border {
    width: 100%;
    border: 8px solid $border-color;
    padding: 44px 33px 20px 11px;
    // margin: 0 auto;
    position: relative;

    @media (min-width: $screen-md) {
      padding-bottom: 60px;
      padding-left: 32px;
    }

    @media (min-width: $screen-lg) {
      width: 590px;
      max-width: 600px;
      padding-bottom: 60px;
      padding-left: 32px;
      margin-left: 0;
    }
  }

  &__title {
    @media (min-width: $screen-md) {
      font-size: 1.87rem;
      width: 440px;
      line-height: 40px;
    }

    @media (min-width: $screen-lg) {
      font-size: 2.5rem;
      width: 500px;
      line-height: 50px;
    }
  }

  &__showmore {
    font-weight: 500;
    color: $link-color;

    &:hover {
      color: #6c73ff;
    }

    &:visited {
      color: #1316b0;
    }
  }
}


.slider__item {
  width: 339px;
  margin: 0 auto;
  padding-top: 60px;

  @media (min-width: $screen-md) {
    width: 560px;
  }

  @media (min-width: $screen-lg) {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
  }
}

.slider__item-picture {
  display: none;

  @media (min-width: $screen-lg) {
    display: block;
    width: 300px;
    height: 100%;
    padding-bottom: 50px;
  }
}

// .slider__item-btn {
//   width: 40px;
//   height: 40px;
//   background-color: red;
//   border-radius: 50%;
//   border: none;
//   margin-bottom: 40px;

//   &--left {
//     float: left;
//     margin-left: 100px;
//   }

//     &--right {
//     float: right;
//     margin-right: 100px;
//   }
// }
