.promo {
  padding-top: 100px;

  @media (min-width: $screen-lg) {
    padding-top: 76px;
    }

  &__inner {
    margin: 0 auto;
    width: calc(100% - 22px);

    @media (min-width: $screen-md) {
      width: calc(100% - 280px);
    }
  }
}

.slider-textblock {

  &__descr {
    font-size: 0.9rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    padding-left: 20px;
    position: absolute;
    left: -20px;
    top: -70px;

    @media (min-width: $screen-md) {
      width: 320px;
      padding-left: 0;
      left: -5px;
    }

    @media (min-width: $screen-lg) {
      width: 320px;
      padding-left: 0;
      left: 20px;
    }
  }

  &__border {
    width: 339px;
    border: 8px solid $border-color;
    padding: 44px 33px 20px 11px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;

    @media (min-width: $screen-md) {
      width: 560px;
      padding-bottom: 60px;
      padding-left: 32px;
    }

    @media (min-width: $screen-lg) {
      width: 590px;
      max-width: 600px;
      padding-bottom: 60px;
      padding-left: 32px;
      margin-left: 0;
    }
  }

  &__title {
    @media (min-width: $screen-md) {
      font-size: 1.87rem;
      width: 440px;
      line-height: 40px;
    }

    @media (min-width: $screen-lg) {
      font-size: 2.5rem;
      width: 500px;
      line-height: 50px;
    }
  }

  &__showmore {
    font-weight: 500;
    color: $link-color;

    &:hover {
      color: #6c73ff;
    }

    &:visited {
      color: #1316b0;
    }
  }
}


.slider__item {

  @media (min-width: $screen-lg) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
  }
}

.slider__item-picture {
  display: none;

  @media (min-width: $screen-lg) {
    display: block;
    // margin-top: 25px;
    padding-bottom: 50px;
  }
}

.slider__item-btn {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  border: none;
  margin-bottom: 40px;

  &--left {
    float: left;
    margin-left: 100px;
  }

    &--right {
    float: right;
    margin-right: 100px;
  }
}
