.promo
	.promo__inner
		.slider
			.slider__inner
				article.slider__item
					.slider__item-block.slider-textblock
						p.slider-textblock__descr Новое поступление книги "Симпсоны и их математические секреты"
						.slider-textblock__border
							h2.slider-textblock__title Для поклонников сериала "Симпсоны" и всех, кому интересна математика
							a(href="#").slider-textblock__showmore Хочу узнать о книге больше
					picture.slider__item-picture
						img(src="img/book-simpsony-i-ih-matematicheskie-sekrety.jpg" width="300" height="420" alt="Книга Симпсоны").slider__item-img
					button.slider__item-btn.slider__item-btn--left
					button.slider__item-btn.slider__item-btn--right

