.slider {
  margin-bottom: 110px;

  @media (min-width: $screen-md) {
    margin-bottom: 55px;
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 110px;
  }

  &__item {
    width: 100%;
    padding-top: 85px;
    margin: 0 auto;

    @media (min-width: $screen-md) {
      width: 485px;
    }

    @media (min-width: $screen-smd) {
      width: 560px;
    }

    @media (min-width: $screen-lg) {
      width: 980px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 40px;
    }
  }

  &__item-picture {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
      width: 300px;
      height: 100%;
    }
  }

  &__item-descr {
    font-size: 0.9rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    padding-left: 20px;
    position: absolute;
    left: -20px;
    top: -100px;

    @media (min-width: $screen-md) {
      width: 320px;
      padding-left: 0;
      left: -5px;
      top: -80px;
    }

    @media (min-width: $screen-lg) {
      width: 320px;
      padding-left: 0;
      left: 20px;
      top: -95px;
    }
  }

  &__item-border {
    width: 100%;
    border: 8px solid $border-color;
    padding: 44px 33px 20px 11px;
    position: relative;

    @media (min-width: $screen-md) {
      padding-bottom: 60px;
      padding-left: 32px;
      padding-right: 32px;
    }

    @media (min-width: $screen-lg) {
      max-width: 600px;
      padding: 30px 33px 45px 32px;
      margin-left: 0;
    }
  }

  &__item-title {
    margin-bottom: 38px;

    @media (min-width: $screen-md) {
      font-size: 1.87rem;
      width: 440px;
      line-height: 40px;
    }

    @media (min-width: $screen-lg) {
      font-size: 2.5rem;
      width: 500px;
      line-height: 50px;
    }
  }

  &__item-showmore {
    font-weight: 500;
    color: $link-color;

    &:hover {
      color: #6c73ff;
    }

    &:visited {
      color: #1316b0;
    }
  }
}

.slider .owl-nav {
  position: relative;

  & .owl-next {
    position: absolute;
    right: 80px;
    top: 30px;
    width: 40px;
    height: 40px;

    &:focus {
      border: 2px solid #e8e8e8;
    }

    @media (min-width: $screen-md) {
      top: -170px;
      right: -80px;
    }

    @media (min-width: $screen-lg) {
      top: -230px;
      right: -20px;
    }
  }

  & .owl-prev {
    position: absolute;
    left: 80px;
    top: 30px;
    width: 40px;
    height: 40px;

    @media (min-width: $screen-md) {
      top: -170px;
      left: -80px;
    }

    @media (min-width: $screen-lg) {
      top: -230px;
      left: -80px;
    }
  }
}
