.slider.owl-carousel.owl-theme
	article.slider__item
		.slider__item-block
			.slider__item-border
				p.slider__item-descr Новое поступление книги "Симпсоны и их математические секреты"
				h2.slider__item-title Для поклонников сериала "Симпсоны" и всех, кому интересна математика
				a(href="description.html").slider__item-showmore Хочу узнать о книге больше
		picture.slider__item-picture
			source(media="(min-width: 1920px)" srcset="img/simpsony-i-ikh-matematicheskie-sekrety_2x.png 2x")
			img(src="img/simpsony-i-ikh-matematicheskie-sekrety.png" width="300" height="420" alt="Книга Симпсоны").slider__item-img
	article.slider__item
		.slider__item-block
			.slider__item-border
				p.slider__item-descr Новое поступление книги "45 татуировок менеджера"
				h2.slider__item-title Книга про правила российского руководителя
				a(href="description.html").slider__item-showmore Хочу узнать о книге больше
		picture.slider__item-picture
			source(media="(min-width: 1920px)" srcset="img/45-tatuirovok-prodavana_2x.png 2x")
			img(src="img/45-tatuirovok-prodavana.png" width="300" height="420" alt="45 татуировок менеджера").slider__item-img
	article.slider__item
		.slider__item-block
			.slider__item-border
				p.slider__item-descr Узнать как обучить персонал с нвоой книгой "Пятая дисциплина"
				h2.slider__item-title Искусство и практика обучайщейся организации
				a(href="description.html").slider__item-showmore Хочу узнать о книге больше
		picture.slider__item-picture
			source(media="(min-width: 1280px)" srcset="img/pyataya-distsiplina_2x.png 2x")
			img(src="img/pyataya-distsiplina.png" width="300" height="420" alt="Пятая дисциплина").slider__item-img
