form.form(action='#' novalidate)
	label(for="user-mail").form__label
		input(id="user-mail" type="text" name="user-mail" placeholder="Ваша почта" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})").form__mail.form__input
		span.form__mail-error
	label(for="user-message").form__label
		input(id="user-message" type="text" name="user-message" placeholder="Сообщение").form__message.form__input
	label(for="checkbox").form__label
		input(id="checkbox" type="checkbox" required).form__checkbox
		span.form__checkbox--custom
		span Я согласен(-на) с <a href="#">политикой конфиденциальности</a><br> и <a href="#">правилами обработки данных</a>
		span.form__checkbox-error
	button(type="submit").form__btn Отправить
