.form {

  @media (min-width: $screen-md) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__input {
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #d0d0d0;
    width: 100%;
    color: #a6a6a6;
    font-weight: 500;
    margin-bottom: 55px;
    outline: none;

    &:hover {
      border-bottom: 4px solid #f4d4e4;
    }
  }

  &__btn {
    width: 300px;
    height: 50px;
    border-radius: 2px;
    background-color: $btn-color;
    border: none;
    font-weight: 700;
    color: #fff;
    margin-top: 39px;

    &:hover {
      background-color: $btn-color-hover;
    }

    &:visited {
      background-color: $btn-color-visited;
    }
  }

  &__checkbox {
    display: none;

    &:checked + .form__checkbox--custom:before {
      content: "";
      display: block;
      background-image: url(../img/icons/form_checkbox.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background-color: #dcdcdc;
    }

    &--custom {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      border: 4px solid #dcdcdc;
      position: relative;
    }
  }

  &__checkbox-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    font-weight: 500;
    font-size: 0.85rem;

    & a {
      color: #1a1ff7;

      &:hover {
        color: #6c73ff;
      }
    }

    @media (min-width: $screen-md) {
      width: 375px;
    }
  }

}