.form {

  @media (min-width: $screen-md) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $screen-lg) {
    align-items: baseline;
  }

  & label {

    @media (min-width: $screen-md) {
      width: 45%;
    }

    @media (min-width: $screen-lg) {
      width: 32%;
    }
  }

  & label:not(:nth-child(3)) {
    margin-bottom: 55px;
  }

  & label:nth-child(3) {

    @media (min-width: $screen-md) {
      width: 100%;
      font-size: 0.88rem;
      padding-right: 50%;
    }

    @media (min-width: $screen-lg) {
      order: 1;
      padding-right: 60%;
    }

    & a {
      color: #2516b7;
    }
  }

  @media (min-width: $screen-lg) {
    align-items: baseline;
  }

  &__label {
    position: relative;
  }

  &__mail:invalid:not(:placeholder-shown) + .form__mail-error:before {
    content: 'Вы не ввели почту';
    position: absolute;
    top: -25px;
    left: 0;
    color: $error;
    font-size: 0.88rem;
    font-weight: 500;
  }

  &__input {
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #d0d0d0;
    width: 100%;
    color: #a6a6a6;
    font-weight: 500;
    outline: none;
    margin-bottom: 65px;
    padding-bottom: 5px;

    &::placeholder {
      color: #a6a6a6;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &:hover {
      border-bottom: 4px solid #f4d4e4;

      &::placeholder {
        color: #000;
      }
    }

    &:focus {
      border-bottom: 4px solid #d7569c;
    }

    &:focus:invalid {
      border-bottom: 4px solid $error;
    }
  }

  &__btn {
    display: block;
    width: 220px;
    height: 50px;
    border-radius: 2px;
    background-color: $btn-color;
    border: none;
    font-weight: 700;
    color: #fff;
    margin: 39px auto 0 auto;
    transition: background-color 0.5s;
    cursor: pointer;

    @media (min-width: 360px) {
      width: 300px;
    }

    @media (min-width: $screen-md) {
      margin: 39px 0 0 0;
    }

    @media (min-width: $screen-lg) {
      margin-top: 0;
    }

    &:hover {
      background-color: $btn-color-hover;
    }

    &:visited {
      background-color: $btn-color-visited;
    }
  }

  &__checkbox {
    display: none;

    &:checked + .form__checkbox--custom:before {
      content: '';
      display: block;
      background-image: url(../img/form_checkbox.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      width: 13px;
      height: 13px;
      top: 0;
      right: 0;
      bottom: 0;
      left: -1px;
      margin: auto;
      background-color: #dcdcdc;
    }

    &--custom {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      border: 4px solid #dcdcdc;
      position: relative;
      margin-right: 5px;

      &:invalid .form__checkbox-error {
        border: 4px solid $error;
        content: 'Нужно согласиться с условиями, поставив галочку';
        position: absolute;
        top: -25px;
        left: 0;
        color: $error;
        font-size: 0.88rem;
        font-weight: 500;
      }

      &:hover {
        border: 4px solid $icon-hover;
      }
    }
  }

  &__policy pre {
    width: 380px;
    display: inline-block;
  }
}
