 form.form
	label
		input(type="text"
				name="user-mail"
				placeholder="Ваша почта"
				required
			).form__mail.form__input
	label
		input(type="text"
				name="user-message"
				placeholder="Сообщение"
				required
			).form__message.form__input
	label
		input(type="checkbox"
				required
			).form__checkbox
		span.form__checkbox--custom
		span.form__checkbox-text Я согласен(-на) с <a href="#">политикой конфиденциальности</a> и <a href="#">правилами обработки данных</a>
	button(type="submit").form__btn Отправить