.popup-error
	h3.popup-error__title Ошибка отправки
	p.popup-error__text К сожалению, ваш вопрос не удалось отправить — нет соединения с сервером. Пожалуйста, попробуйте позднее.
	button.popup-error__close &#10006;
