.question {
  margin-bottom: 50px;

  &__inner {
    width: calc(100% - 20px);
    margin: 0 auto;
  }

  &__block {
    width: 100%;
    border: 8px solid $border-color;
    padding: 60px 20px 80px 20px;
    margin: 0 auto;

    @media (min-width: $screen-lg) {
      width: 1160px;
    }
  }

  &__title  {
    font-size: 1.88rem;
    margin-bottom: 21px;
  }

  &__subtitle {
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

