section.description
	.description__inner.inner
		.description__block1
			p.description__block1-author Эдди Юн
			h2.description__block1-title Супер&shy;потребители
			p.description__block1-descr Кто это и почему они так важны для вашего бизнеса
		.description__block2
			picture.description__block2-picture
				source(media="(min-width: 1920px)" srcset="img/books/superpotrebiteli_2x.png 2x")
				img(src="img/books/superpotrebiteli.png" alt="книга суперпотребители").description__block2-img
		.description__block3
			.description__block3-name-block
				span.description__block3-name Артикул
				span.description__block3-name В наличии
				span.description__block3-name Издательство
				span.description__block3-name Цена
			.description__block3-value-block
				span.description__block3-value 10907063
				span.description__block3-value 5 шт.
				span.description__block3-value Мосгорсвет
				span.description__block3-value 800 &#8381;
		.description__block4
			.description__block4-box 1
			button.description__block4-btn Добавить в корзину
			p.description__block4-text <span>20</span> людям понравилась эта книга
		.description__block5
			h3.description__block5-title Короткое описание
			p.description__block5-descr  В отличие от обычных покупателей суперпотребители очень заинтересованы в ваших товарах, а возможно, даже слегка помешаны на них.
			p.description__block5-descr Они знают о кроссовках всё и имеют десятки пар. Они спортивные фанаты c копиями футболок любимой команды, а стены их гаражей украшены подписанной символикой.
		.description__block6
			.description__block6-item
				svg(width="15" height="15").description__block6-icon
					use(xlink:href="img/sprite.svg#icon_facebook")
				span.description__block6-facebook 20
			.description__block6-item
				svg(width="15" height="15").description__block6-icon
					use(xlink:href="img/sprite.svg#icon_vkontakte")
				span.description__block6-vkontakte 30
			.description__block6-item
				svg(width="15" height="15").description__block6-icon
					use(xlink:href="img/sprite.svg#icon_like")
				span.description__block6-like 50
			.description__block6-item
				svg(width="15" height="15").description__block6-icon
					use(xlink:href="img/sprite.svg#icon_dislike")
				span.description__block6-dislike 10
		.description__block7
			picture.description__block7-picture
				img(src="img/book_screen1.jpg" alt="Страница 1" width="" height="").description__block7-img
			picture.description__block7-picture
				img(src="img/book_screen2.jpg" alt="Страница 2" width="" height="").description__block7-img
			picture.description__block7-picture
				img(src="img/book_screen3.jpg" alt="Страница 3" width="" height="").description__block7-img



