section.description
	.description__inner.inner
		.description__block1
			p.description__block1-author Эдди Юн
			h2.description__block1-title Супер&shy;потребители
			p.description__block1-descr Кто это и почему они так важны для вашего бизнеса
		.description__block2
			picture.description__block2-picture
				img(src="img/book-superpotrebiteli.jpg").description__block2-img
		.description__block3
			.description__block3-details
				.description__block3-name Артикул
				.description__block3-value 10907063
			.description__block3-details
				.description__block3-name В наличии
				.description__block3-value 5 шт.
			.description__block3-details
				.description__block3-name Издательство
				.description__block3-value Мосгорсвет
			.description__block3-details
				.description__block3-name Цена
				.description__block3-value 800 &#8381;
		.description__block4
			.description__block4-number
				.description__block4-box
				span шт.
			button.description__block4-btn Добавить в корзину
			p.description__block4-text <span>20</span> людям понравилась эта книга
		.description__block5
			h3.description__block5-title Короткое описание
			p.description__block5-descr  В отличие от обычных покупателей суперпотребители очень заинтересованы в ваших товарах, а возможно, даже слегка помешаны на них. Они знают о кроссовках всё и имеют десятки пар. Они спортивные фанаты c копиями футболок любимой команды, а стены их гаражей украшены подписанной символикой.
		.description__block6
			span.description__block6-facebook 20
			span.description__block6-vkontakte 30
			span.description__block6-like 50
			span.description__block6-dislike 10
		.description__block7
			picture.description__block7-picture
				img(src="").description__block7-img
			picture.description__block7-picture
				img(src="").description__block7-img
			picture.description__block7-picture
				img(src="").description__block7-img



