@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.tff") format("ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Italic.tff") format("ttf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.tff") format("ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.tff") format("ttf");
  font-weight: 700;
  font-style: normal; }

body {
  background-color: #f5f5f5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  position: relative; }

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

h2 {
  line-height: 30px;
  margin-bottom: 38px;
  font-weight: 700;
  font-size: 1.5rem; }

.inner {
  margin: 0 auto;
  width: calc(100% - 60px);
  max-width: 1165px; }
  @media (min-width: 767px) {
    .inner {
      width: calc(100% - 80px); } }
  @media (min-width: 1279px) {
    .inner {
      width: 1160px; } }

.page-header {
  height: 50px;
  width: 100%;
  background-color: #fff;
  padding-top: 18px;
  position: relative;
  margin-bottom: 35px; }
  @media (min-width: 767px) {
    .page-header {
      margin-bottom: 50px; } }
  .page-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding-right: 40px; }
    @media (min-width: 767px) {
      .page-header__inner {
        padding-right: 0; } }
  .page-header__timetable {
    display: none;
    color: #828282;
    font-size: 0.9rem; }
    @media (min-width: 767px) {
      .page-header__timetable {
        display: block; } }
  @media (min-width: 1279px) {
    .page-header__cart-wrap {
      margin-left: 50px; } }
  .page-header__phone-wrap {
    display: none; }
    @media (min-width: 767px) {
      .page-header__phone-wrap {
        display: block;
        cursor: pointer; } }
  .page-header__toggle {
    background-color: transparent;
    border: none;
    width: 20px;
    height: 14px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (min-width: 767px) {
      .page-header__toggle {
        display: none; } }

.burgerline {
  width: 20px;
  height: 2px;
  background-color: #000; }

.main-nav {
  display: none; }
  @media (min-width: 767px) {
    .main-nav {
      display: block; } }
  .main-nav__list {
    width: 196px;
    height: 160px;
    opacity: 0.9;
    background-color: #f4d4e4;
    position: absolute;
    right: 0;
    top: 33px;
    padding-left: 52px;
    padding-top: 19px;
    z-index: 2; }
    @media (min-width: 767px) {
      .main-nav__list {
        margin-left: 70px;
        width: 280px;
        margin-right: 20px;
        position: static;
        height: auto;
        opacity: 1;
        background-color: transparent;
        padding-left: 0;
        padding-top: 0;
        z-index: 0; } }
    @media (min-width: 767px) {
      .main-nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media (min-width: 1000px) {
      .main-nav__list {
        margin-left: 250px; } }
    @media (min-width: 1279px) {
      .main-nav__list {
        margin-left: 450px; } }
  .main-nav__item {
    margin-bottom: 18px; }
    .main-nav__item:last-child .main-nav__link {
      color: #1a1ff7; }
    .main-nav__item:last-child {
      margin-bottom: 0;
      position: relative; }
      @media (min-width: 767px) {
        .main-nav__item:last-child {
          display: none; } }
    .main-nav__item:last-child:before {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      border: 1px solid red;
      left: -30px;
      top: 0;
      bottom: 0;
      margin: auto; }
  .main-nav__link {
    color: #000;
    font-weight: 700;
    font-size: 0.9rem; }
    .main-nav__link:link {
      color: red; }
    .main-nav__link:active {
      color: green; }
    .main-nav__link:hover {
      color: #6c73ff; }

.promo__inner {
  margin: 0 auto;
  width: calc(100% - 22px); }
  @media (min-width: 767px) {
    .promo__inner {
      width: calc(100% - 280px); } }

.slider {
  margin-bottom: 110px; }
  @media (min-width: 767px) {
    .slider {
      margin-bottom: 55px; } }

.slider-textblock__descr {
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  padding-left: 20px;
  position: absolute;
  left: -20px;
  top: -70px; }
  @media (min-width: 767px) {
    .slider-textblock__descr {
      width: 320px;
      padding-left: 0;
      left: -5px; } }
  @media (min-width: 1279px) {
    .slider-textblock__descr {
      width: 320px;
      padding-left: 0;
      left: 20px; } }

.slider-textblock__border {
  width: 100%;
  border: 8px solid #e8e8e8;
  padding: 44px 33px 20px 11px;
  position: relative; }
  @media (min-width: 767px) {
    .slider-textblock__border {
      padding-bottom: 60px;
      padding-left: 32px; } }
  @media (min-width: 1279px) {
    .slider-textblock__border {
      width: 590px;
      max-width: 600px;
      padding-bottom: 60px;
      padding-left: 32px;
      margin-left: 0; } }

@media (min-width: 767px) {
  .slider-textblock__title {
    font-size: 1.87rem;
    width: 440px;
    line-height: 40px; } }

@media (min-width: 1279px) {
  .slider-textblock__title {
    font-size: 2.5rem;
    width: 500px;
    line-height: 50px; } }

.slider-textblock__showmore {
  font-weight: 500;
  color: #1a1ff7; }
  .slider-textblock__showmore:hover {
    color: #6c73ff; }
  .slider-textblock__showmore:visited {
    color: #1316b0; }

.slider__item {
  width: 339px;
  margin: 0 auto;
  padding-top: 60px; }
  @media (min-width: 767px) {
    .slider__item {
      width: 560px; } }
  @media (min-width: 1279px) {
    .slider__item {
      width: 1000px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 100px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 auto;
      padding-top: 20px; } }

.slider__item-picture {
  display: none; }
  @media (min-width: 1279px) {
    .slider__item-picture {
      display: block;
      width: 300px;
      height: 100%;
      padding-bottom: 50px; } }

@media (min-width: 650px) {
  .catalog__inner {
    width: calc(100% - 180px); } }

.catalog__tabs {
  height: 50px;
  width: calc(100% + 60px);
  margin-left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e8e8e8;
  padding-top: 28px;
  padding-left: 32px;
  margin-bottom: 41px;
  padding-left: -200px; }
  @media (min-width: 650px) {
    .catalog__tabs {
      width: calc(100% + 180px);
      margin-left: -90px;
      padding-left: 90px;
      padding-right: 90px; } }
  @media (min-width: 767px) {
    .catalog__tabs {
      padding-left: 90px;
      padding-right: 90px; } }
  @media (min-width: 1279px) {
    .catalog__tabs {
      padding-right: 200px;
      margin-right: -300px; } }

@media (min-width: 1279px) {
  .catalog__tabs-item {
    margin-right: 31px; } }

.catalog__tabs-item:first-child .catalog__tabs-link {
  color: #1a1ff7; }

.catalog__tabs-link {
  font-weight: 500;
  color: #000;
  position: relative; }
  .catalog__tabs-link:hover {
    color: #1a1ff7;
    padding-bottom: 10px;
    border-bottom: 2px solid #ef529f; }

.catalog__block {
  margin: 0 auto; }
  @media (min-width: 650px) {
    .catalog__block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      padding-left: 0; } }

.product-card-mini {
  margin: 0 auto;
  width: 210px; }
  @media (min-width: 1279px) {
    .product-card-mini {
      margin: 0 20px; } }
  .product-card-mini__picture-wrap {
    display: block;
    width: 210px;
    height: 300px;
    margin-bottom: 33px; }
    .product-card-mini__picture-wrap:hover {
      -webkit-box-shadow: 0 12px 33px 5px #f4d4e4;
              box-shadow: 0 12px 33px 5px #f4d4e4; }
  .product-card-mini:hover .product-card-mini__price {
    color: #ef529f; }
  .product-card-mini__title-wrap {
    display: block;
    margin-bottom: 28px;
    font-weight: 700;
    color: #000;
    line-height: 30px;
    font-size: 1.5rem; }
  .product-card-mini__descr {
    margin-bottom: 21px;
    font-style: italic;
    line-height: 24px; }
  .product-card-mini__price {
    display: block;
    margin-bottom: 50px;
    font-weight: 700; }

.pagination {
  margin-bottom: 63px; }
  .pagination__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 41px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 220px; }
  .pagination__item {
    margin-right: 7px; }
    .pagination__item:first-child {
      background-color: #f4d4e4;
      width: 30px;
      height: 30px;
      border-radius: 50%; }
      .pagination__item:first-child .pagination__link {
        color: #ef529f; }
  .pagination__item:hover {
    background-color: #f4d4e4;
    width: 30px;
    height: 30px;
    border-radius: 50%; }
  .pagination__link {
    display: block;
    font-weight: 700;
    color: #000;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px; }
    .pagination__link:visited {
      color: #afafaf; }

.offer {
  margin-bottom: 113px; }
  .offer__inner {
    width: calc(100% - 22px);
    margin: 0 auto; }
  .offer__border {
    width: 339px;
    border: 8px solid #e8e8e8;
    padding: 49px 11px 20px 11px;
    margin: 0 auto;
    margin-bottom: 110px; }
    @media (min-width: 767px) {
      .offer__border {
        width: calc(100% - 80px); } }
  .offer__title {
    font-size: 1.9rem;
    margin-bottom: 36px; }
    @media (min-width: 767px) {
      .offer__title {
        margin-bottom: 21px; } }
  .offer__subtitle {
    display: block;
    color: #333;
    margin-bottom: 136px; }
  .offer__list {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    @media (min-width: 767px) {
      .offer__list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  .offer__item {
    width: 260px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    margin: 0 auto; }
  .offer__item:not(:last-child) {
    margin-bottom: 129px; }
  .offer__item:last-child {
    margin-bottom: 50px; }
  .offer__item:before {
    content: '';
    width: 62px;
    height: 45px;
    position: absolute;
    border: 1px solid red;
    left: 0;
    right: 0;
    margin: auto;
    top: -70px; }

.novice {
  position: relative;
  padding-bottom: 50px; }
  .novice:before {
    content: '';
    width: 100%;
    min-height: 560px;
    position: absolute;
    background-color: #f4d4e4;
    z-index: -10;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -42px; }
    @media (min-width: 767px) {
      .novice:before {
        display: inline-block; } }
  .novice__title {
    font-size: 1.9rem; }
    @media (min-width: 767px) {
      .novice__title {
        display: inline-block;
        vertical-align: middle; } }
  .novice__link {
    display: block;
    font-weight: 500;
    color: #1a1ff7;
    margin-bottom: 40px; }
    @media (min-width: 767px) {
      .novice__link {
        float: right;
        display: inline-block;
        vertical-align: middle; } }
    .novice__link:hover {
      color: #6c73ff; }
    .novice__link:visited {
      color: #1316b0; }
  .novice__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 40px; }
    .novice__block .product-card-mini {
      width: 260px;
      margin-right: 30px; }
    .novice__block .product-card-mini .product-card-mini__picture-wrap {
      width: 260px;
      height: 370px; }
    .novice__block .product-card-mini .product-card-mini__price {
      display: none; }

.page-footer {
  background-color: #fff;
  height: 80px;
  position: relative;
  padding-top: 15px; }
  @media (min-width: 767px) {
    .page-footer {
      height: 50px; } }
  @media (min-width: 767px) {
    .page-footer__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .page-footer__logo {
    display: block;
    padding-bottom: 13px; }
    @media (min-width: 767px) {
      .page-footer__logo {
        display: inline-block; } }
  .page-footer__timetable {
    display: block;
    color: #828282;
    font-size: 0.9rem; }
    @media (min-width: 767px) {
      .page-footer__timetable {
        display: inline-block;
        margin-right: 100px; } }
    @media (min-width: 1000px) {
      .page-footer__timetable {
        display: inline-block;
        margin-right: 350px; } }
  .page-footer__contacts {
    font-size: 0.9rem;
    font-weight: 700;
    color: #000;
    position: absolute;
    top: 27px;
    right: 30px; }
    @media (min-width: 767px) {
      .page-footer__contacts {
        display: none; } }

.footer-nav {
  display: none; }
  .footer-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 280px; }
  .footer-nav__link {
    color: #000;
    font-weight: 700;
    font-size: 0.9rem; }
    .footer-nav__link:hover {
      color: #1a1ff7; }
  @media (min-width: 767px) {
    .footer-nav {
      display: block; } }
  @media (min-width: 1279px) {
    .footer-nav {
      margin-left: 200px; } }

.address {
  margin-bottom: 50px; }
  @media (min-width: 767px) {
    .address__inner {
      width: calc(100% - 88px); } }
  .address__title {
    font-size: 3.13rem;
    margin-bottom: 46px; }
    @media (min-width: 767px) {
      .address__title {
        margin-bottom: 56px; } }
  .address__list {
    padding-left: 22px; }
    @media (min-width: 767px) {
      .address__list {
        width: 650px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 46px; } }
    @media (min-width: 1279px) {
      .address__list {
        width: 870px; } }
  .address__item {
    font-weight: 500;
    position: relative;
    margin-bottom: 25px; }
    .address__item:before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #020efb;
      top: 0;
      bottom: 0;
      left: -20px;
      margin: auto; }
  .address__map {
    height: 340px;
    width: calc(100% + 60px);
    margin-left: -30px; }
    @media (min-width: 767px) {
      .address__map {
        width: calc(100% + 88px);
        margin-left: -44px; } }
    @media (min-width: 1279px) {
      .address__map {
        width: 1160px;
        margin: 0 auto; } }

.question {
  margin-bottom: 50px; }
  .question__inner {
    width: calc(100% - 20px);
    margin: 0 auto; }
  .question__block {
    width: 100%;
    border: 8px solid #e8e8e8;
    padding: 60px 20px 80px 20px;
    margin: 0 auto; }
    @media (min-width: 1279px) {
      .question__block {
        width: 1160px; } }
  .question__title {
    font-size: 1.88rem;
    margin-bottom: 21px; }
  .question__subtitle {
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 30px; }

@media (min-width: 767px) {
  .form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .form label {
      width: 45%; } }
    @media (min-width: 767px) and (min-width: 1279px) {
      .form label {
        width: 32%; } }

@media (min-width: 767px) {
    .form label:not(:nth-child(3)) {
      margin-bottom: 55px; }
    .form label:nth-child(3) {
      width: 410px;
      font-size: 0.85rem; } }
    @media (min-width: 767px) and (min-width: 767px) {
      .form label:nth-child(3) {
        width: 100%;
        padding-right: 50%; } }
    @media (min-width: 767px) and (min-width: 1279px) {
      .form label:nth-child(3) {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        padding-right: 60%; } }

@media (min-width: 1279px) {
  .form {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; } }

.form__input {
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #d0d0d0;
  width: 100%;
  color: #a6a6a6;
  font-weight: 500;
  outline: none;
  margin-bottom: 65px; }
  @media (min-width: 767px) {
    .form__input {
      margin-bottom: 0; } }
  .form__input:hover {
    border-bottom: 4px solid #f4d4e4; }

.form__btn {
  display: block;
  width: 300px;
  height: 50px;
  border-radius: 2px;
  background-color: #1f1f1f;
  border: none;
  font-weight: 700;
  color: #fff;
  margin: 39px auto 0 auto;
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s; }
  @media (min-width: 767px) {
    .form__btn {
      margin: 39px 0 0 0; } }
  @media (min-width: 1279px) {
    .form__btn {
      margin-top: 0; } }
  .form__btn:hover {
    background-color: #d7569c; }
  .form__btn:visited {
    background-color: #d72384; }

.form__checkbox {
  display: none; }
  .form__checkbox:checked + .form__checkbox--custom:before {
    content: "";
    display: block;
    background-image: url(../img/icons/form_checkbox.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #dcdcdc; }
  .form__checkbox--custom {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: 4px solid #dcdcdc;
    position: relative;
    margin-right: 5px; }

.invitation {
  padding-top: 92px;
  padding-bottom: 49px;
  text-align: center;
  background-image: url(../img/invitation_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .invitation:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #d7569c;
    opacity: 0.8; }
  .invitation__inner {
    width: calc(100% - 82px);
    margin: 0 auto; }
  .invitation__title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    position: relative; }
    .invitation__title:before {
      content: '';
      position: absolute;
      width: 100px;
      height: 10px;
      border: 2px solid #fff;
      left: 0;
      right: 0;
      top: -40px;
      margin: auto; }
    @media (min-width: 767px) {
      .invitation__title {
        font-size: 2.25rem; } }
  .invitation__subtitle {
    color: #fff;
    line-height: 30px;
    position: relative; }

.recommendation-block {
  display: grid;
  grid-gap: 11px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "block1 block2 block2 block3" "block4 block2 block2 block3" "block4 block5 block6 block3" "block7 block7 block7 block3";
  margin-bottom: 137px; }

.text-block {
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 9px 1px rgba(64, 66, 172, 0.35);
          box-shadow: 0 3px 9px 1px rgba(64, 66, 172, 0.35); }

.text-block1 {
  grid-area: block1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 15px;
  line-height: 30px; }
  .text-block1__title {
    margin-bottom: 15px; }
  .text-block1__subtitle {
    margin-bottom: 15px; }
  .text-block1__link {
    color: #0f0fc9;
    font-weight: 700; }
    .text-block1__link:hover {
      color: #6c73ff; }

.text-block2 {
  width: 100%;
  height: 100%;
  text-align: center;
  grid-area: block2;
  position: relative;
  background-image: url(../img/text_block2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px; }
  .text-block2:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(6, 0, 255, 0.3)), to(rgba(39, 44, 242, 0.8)));
    background-image: linear-gradient(to top, rgba(6, 0, 255, 0.3) 0%, rgba(39, 44, 242, 0.8) 100%);
    border-radius: 4px; }
  .text-block2__title {
    color: #fff;
    z-index: 10;
    margin-bottom: 22px; }
  .text-block2__subtitle {
    color: #fff;
    z-index: 10; }

.text-block3 {
  grid-area: block3;
  width: 100%;
  height: 720px;
  padding: 36px 20px; }
  .text-block3__title {
    margin-bottom: 20px; }
  .text-block3__subtitle {
    margin-bottom: 38px; }

.text-block4 {
  grid-area: block4;
  height: 360px;
  text-align: center;
  position: relative;
  background-image: url(../img/text_block4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  padding-top: 150px; }
  .text-block4:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(6, 0, 255, 0.3)), to(rgba(39, 44, 242, 0.8)));
    background-image: linear-gradient(to top, rgba(6, 0, 255, 0.3) 0%, rgba(39, 44, 242, 0.8) 100%);
    border-radius: 4px; }
  .text-block4__title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700; }

.text-block5 {
  grid-area: block5;
  width: 285px;
  height: 180px;
  background-color: #fff;
  padding: 15px;
  padding-top: 20px;
  line-height: 30px; }
  .text-block5__title {
    margin-bottom: 15px; }
  .text-block5__subtitle {
    line-height: 30px; }
  .text-block5__btn {
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    background-color: #000;
    line-height: 50px;
    border: none;
    font-weight: 700;
    font-size: 0.85rem; }

.text-block6 {
  grid-area: block6;
  width: 285px;
  height: 180px;
  background-color: #ce6194;
  padding: 15px; }
  .text-block6__title {
    color: #fff;
    margin-bottom: 15px; }
  .text-block6__subtitle {
    color: #fff;
    line-height: 30px; }

.text-block7 {
  grid-area: block7;
  width: 890px;
  height: 170px;
  padding-top: 67px;
  text-align: center;
  background-image: url(../img/text_block7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .text-block7:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #bc0d5f;
    opacity: 0.8;
    border-radius: 4px; }
  .text-block7__title {
    margin-bottom: 15px;
    color: #fff;
    font-size: 1.5rem; }
  .text-block7__subtitle {
    color: #fff; }

.description__block1-author {
  font-size: 0.88rem;
  font-weight: 700;
  margin-bottom: 20px; }

.description__block1-title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 20px; }

.description__block1-descr {
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 35px; }

.description__block2-picture {
  width: 300px;
  height: 425px;
  margin-bottom: 40px; }

.description__block2-img {
  width: 100%;
  height: auto; }

.description__block3-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.88rem;
  color: #ababab;
  font-weight: 500; }

.description__block3-value {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.88rem;
  font-weight: 500; }

/*# sourceMappingURL=style.css.map */
