.offer {
  margin-bottom: 113px;

  &__inner {
    width: calc(100% - 22px);
    margin: 0 auto;
  }

  &__border {
    width: 339px;
    border: 8px solid $border-color;
    padding: 49px 15px 20px 15px;
    margin: 0 auto;
    margin-bottom: 110px;
    position: relative;

    @media (min-width: $screen-md) {
      padding-right: 32px;
      padding-left: 32px;
    }

    @media (min-width: $screen-lg) {
      padding-right: 22px;
      padding-left: 22px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 150px;
      height: 20px;
      background-color: $main-color;
      top: -13px;
      left: 60px;

      @media (min-width: $screen-md) {
        width: 170px;
      }

      @media (min-width: $screen-lg) {
        width: 400px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 150px;
      height: 20px;
      background-color: $main-color;
      bottom: -13px;
      right: 60px;

      @media (min-width: $screen-md) {
        width: 170px;
      }

      @media (min-width: $screen-lg) {
        width: 400px;
      }
    }

    @media (min-width: $screen-md) {
      width: calc(100% - 80px);
      max-width: 1230px;
    }
  }

  &__title {
    font-size: 1.9rem;
    margin-bottom: 36px;

    @media (min-width: $screen-md) {
      margin-bottom: 21px;
    }
  }

  &__subtitle {
    display: block;
    color: #333;
    margin-bottom: 136px;
  }

  &__list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    @media (min-width: $screen-md) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 260px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    margin: 0 auto;

    @media (min-width: $screen-lg) {
      width: 250px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 129px;

    @media (min-width: $screen-lg) {
      margin-bottom: 77px;
    }
  }

  &__item:last-child {
    margin-bottom: 50px;
    background-image: url(../img/sprite.svg#icon_map);
  }

  &__item:before {
    content: '';
    width: 62px;
    height: 45px;
    position: absolute;
    border: 1px solid red;
    left: 0;
    right: 0;
    margin: auto;
    top: -70px;
  }

  &__item:first-child:before {
    background-image: url(../img/sprite.svg#icon_book);
  }

  &__item:nth-child(2):before {
    background-image: url(../img/sprite.svg#icon_box);
  }

  &__item:first-child(3):before {
    background-image: url(../img/sprite.svg#icon_delivery);
  }
}
