.offer {
  margin-bottom: 113px;

  &__inner {
    width: calc(100% - 22px);
    margin: 0 auto;
  }

  &__border {
    width: 100%;
    border: 8px solid $border-color;
    padding: 49px 15px 20px 15px;
    margin: 0 auto;
    margin-bottom: 110px;
    position: relative;

    @media (min-width: $screen-md) {
      padding-right: 32px;
      padding-left: 32px;
    }

    @media (min-width: $screen-lg) {
      padding-right: 22px;
      padding-left: 22px;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      width: 150px;
      height: 20px;
      background-color: $main-color;

      @media (min-width: $screen-md) {
        width: 170px;
      }

      @media (min-width: $screen-lg) {
        width: 400px;
      }
    }

    &:before {
      top: -13px;
      left: 60px;
    }

    &:after {
      bottom: -13px;
      right: 60px;
    }

    @media (min-width: $screen-md) {
      width: calc(100% - 80px);
      max-width: 1230px;
    }
  }

  &__title {
    font-size: 1.9rem;
    margin-bottom: 36px;

    @media (min-width: $screen-md) {
      margin-bottom: 21px;
    }
  }

  &__subtitle {
    display: block;
    color: #333;
    margin-bottom: 58px;
  }

  &__list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    @media (min-width: $screen-md) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 58px;
  }

  &__icon {
    margin-bottom: 25px;
  }

  &__text {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
}
