section.offer
	.offer__inner.inner
		.offer__border
			h2.offer__title Доставим в любое место
			span.offer__subtitle // ну почти в любое
			.offer__list
				p.offer__item Покупаете книги на сайте в любом формате - бумажные, электронные или аудио
				p.offer__item Мы подарим вам "Набор читателя" и добавим в посылку
				p.offer__item Бесплатно доставляем заказы от 3000 по всей России
				p.offer__item Доставка более чем в 300 городов России, по Москве и Санкт-Петербургу - бесплатно