$main-color:          #f5f5f5;
$border-color:        #e8e8e8;
$bottom-color:        #f4d4e4;
$link-color:          #1a1ff7;
$btn-bg-color:        #f4d4e4;

$font-family:         'Montserrat', sans-serif;
$main-fz:           16px;
// $line-height:         1.4;

$screen-md:           767px;
$screen-lg:           1279px;
