$main-color:          #f5f5f5;
$border-color:        #e8e8e8;
$bottom-color:        #f4d4e4;
$link-color:          #1a1ff7;
$link-color-hover:    #6c73ff;
$link-color-visited:  #1316b0;
$btn-color:           #1f1f1f;
$btn-color-hover:     #d7569c;
$btn-color-visited:   #d72384;
$icon-hover:          #ef529f;
$icon-visited:        #1a1ff7;
$error:               #d90000;

$font-family:         'Montserrat', sans-serif;
$main-fz:             16px;

$screen-xsm:          360px;
$screen-sm:           650px;
$screen-md:           767px;
$screen-smd:          860px;
$screen-xmd:          1000px;
$screen-lg:           1279px;
