footer.page-footer
	.page-footer__inner.inner
		a(href="index.html").logo.page-footer__logo
			img(src="img/logo_icon.png" alt="book store")
		a(href="contacts.html").page-footer__contacts контакты
		span.page-footer__timetable с 9:00 до 19:00
		include footer-nav.pug
