footer.page-footer
	.page-footer__inner.inner
		a(href="index.html").logo.page-footer__logo
			img(src="img/logo_icon.png" alt="book store")
		a(href="contacts.html").page-footer__contacts контакты
		span.page-footer__timetable с 9:00 до 19:00
		nav.footer-nav
			ul.footer-nav__list
				li.footer-nav__item
					a(href="index.html").footer-nav__link книги
				li.footer-nav__item
					a(href="recommendation.html").footer-nav__link рекомендации
				li.footer-nav__item
					a(href="contacts.html").footer-nav__link контакты
