.footer-nav {
  display: none;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 280px;
  }

  &__item {
    line-height: 0.9rem;
  }

  &__link {
    color: #000;
    font-weight: 700;
    font-size: 0.9rem;

    &:hover {
      color: $link-color-hover;
    }

    &:visited {
      color: $link-color-visited;
    }
  }

  @media (min-width: $screen-md) {
    display: block;
  }

  @media (min-width: $screen-lg) {
    margin-left: 200px;
  }
}
