.footer-nav
	ul.footer-nav__list
		li.footer-nav__item
			a(href="index.html").footer-nav__link книги
		li.footer-nav__item
			a(href="recommendation.html").footer-nav__link рекомендации
		li.footer-nav__item
			a(href="contacts.html").footer-nav__link контакты
