.page-footer {
  background-color: #fff;
  height: 80px;
  bottom: 0;
  padding-top: 22px;
  position: relative;

  &__inner {

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
  }
  }

  &__logo {
    display: block;
    margin-bottom: 13px;

    @media (min-width: $screen-md) {
      display: inline-block;
    }
  }

  &__timetable {
    display: block;
    color: #828282;
    font-size: 0.9rem;

  @media (min-width: $screen-md) {
    display: inline-block;
    margin-right: 30%;
  }
  }

  &__contacts {
    font-size: 0.9rem;
    font-weight: 700;
    color: #000;
    position: absolute;
    top: 27px;
    right: 30px;
    @media (min-width: $screen-md) {
      display: none;
    }
  }
}

.footer-nav {
  display: none;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 280px;
  }

  &__link {
    color: #000;
    font-weight: 700;
    font-size: 0.9rem;
  }
  
  @media (min-width: $screen-md) {
    display: block;
  }
}